.visit-orders-images-section{
  position: relative;
  min-height: 330px;
  overflow: hidden;
}

.visit-orders-images-section .back{
  width: 330.78px;
  height: 269.88px;
  position: absolute;
  top: 0;
  left: 5vw;
}

.visit-orders-images-section .mid{
  width: 70%;
  height: 60%;
  position: absolute;
  left: 5vw;
  bottom: 0;
}

.visit-orders-images-section .top{
  width: 50%;
  height: 60%;
  position: absolute;
  bottom: 0;
  right: 0;
}

.visit-orders-sphere{
  position: absolute;
  top: 0;
  right: 0;
}

.visit-orders-property-sphere{
  position: absolute;
  top: 0px;
  right: -30px;
}