@import '../_styles/vars.less';

html{
  scroll-behavior: smooth;
}

body{
  font-size: 16px;
  color: @secondary;
  font-family: @text-base;
  box-sizing: border-box;
  color: @secondary;
}

a{
  color: @light-gray;
}

h1, h2, h3, h4, h5{
  font-family: @text-heading;
  color: @secondary;
}

.layout-body{
  //padding-top: 92px;
}

.ant-btn-link{
  color: inherit;
}